body {
    background-image: url(bg.jpeg);
    background-size: cover;
    overflow-y: hidden;
    font-family: 'Nunito', serif;
}

.webpage {
    background-color: rgba(14, 33, 110, 0.2);
    padding: 1vw 2vw;
    border: 0.3vw solid #133c73;
    border-radius: 1vw;
    margin: 1vw;
    height: 91.7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    font-size: clamp(30px, 3vw, 80px);
    border-bottom: 0.2vw solid #133c73;
    margin: 0 auto;
    color: #133c73;
    margin-top: 1vh;
    width: 50%;
    text-align: center;
}

.input {
    margin: 0 auto;
}

.select {
    font-family: 'Nunito', serif;
    font-size: clamp(20px, 0.8vw, 40px);
    padding: 0.4vw 1vw;
    border: 0.2vw solid #133c73;
    border-radius: 0.5vw;
    background-color: #275a9c;
    color: #f9e1f9;
    outline: none;
    cursor: pointer;
    width: 10vw;
    margin: 0 0.5vw;
    appearance: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    text-align: center;
}

.select:hover {
    background-color: #153d7b;
    border-color: #071e3c;
    color: #fcc1fa;
}

.gen {
    font-family: 'Nunito', serif;
    font-size: clamp(20px, 0.8vw, 40px);
    padding: 0.4vw 1vw;
    border: 0.2vw solid #133c73;
    border-radius: 0.5vw;
    background-color: #275a9c;
    color: #f9e1f9;
    outline: none;
    cursor: pointer;
    width: 10vw;
    margin: 1vw 0;
    appearance: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.gen:hover {
    background-color: #153d7b;
    border-color: #071e3c;
    color: #fcc1fa;
}

.output {
    background-color: rgb(45, 67, 175, 0.5);
    border: 0.2vw solid #133c73;
    border-radius: 0.5vw;
    min-height: 69.5vh;
    padding: 1vw 2vw;
    border-radius: 1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #f9e1f9;
}

.outputTitle {
    font-size: clamp(30px, 2.5vw, 70px);
    border-bottom: 0.2vw solid #133c73;
    display: inline-block;
    padding: 0 5vw;
}

.outputName {
    font-size: clamp(20px, 1.8vw, 60px);
    animation: typing 0.7s steps(13), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.3vw solid;
    font-family: 'IBM Plex Mono', serif;
}

@keyframes typing {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}
      
@keyframes blink {
    50% {
        border-right-color: transparent;
    }
}

.outputLangsDiv {
    font-size: clamp(20px, 1.3vw, 50px);
    margin-top: 0.4vw;
}

.outputLangs {
    animation: typing 0.7s steps(7), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.3vw solid #2a49ab;
    font-family: 'IBM Plex Mono', serif;
}

@keyframes typing {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}
      
@keyframes blink {
    50% {
        border-right-color: transparent;
    }
}

#langs {
    width: 20vw;
}
